{# navbar de l'application MVC #}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Mon petit MVC</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="?c=gestionClient&a=ChercheUn">Voir un client</a></li>
                <li><a href="?c=gestionClient&a=ChercheTous">Voir tous les clients</a></li>
                <li><a href="?c=gestionClient&a=creerClient">creer un client</a></li>
                K/ul>
        </div>
</nav>