{# navbar de l'application MVC #}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Mon petit MVC</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="?c=gestionClient&a=ChercheUn">Voir un client</a></li>
            <li><a href="?c=gestionClient&a=ChercheTous">Voir tous les clients</a></li>
            <li><a href="?c=gestionClient&a=creerClient">Creer un client</a></li>
            <li><a href="?c=gestionCommande&a=chercheUne">Voir une Commande</a></li>
            <li><a href="?c=gestionCommande&a=chercheToutes">Afficher toutes les Commandes</a></li>
            <li><a href="?c=GestionClient&a=statsClients">Statistiques Clients</a></li>
            <li><a href="?c=GestionClient&a=testFindBy">Teste FindBy</a></li>
            <li><a href="?c=GestionClient&a=rechercheClient">Teste FindBy</a></li>
        </ul>
    </div>
</nav>